.hero {
  padding: $spacer-lg 0;
  color: white;
  background-image: url(../../img/farm-k8s.svg);
  // background-image: url(../../img/header-duotone.jpg);
  background-color: #2980B9;
  background-size: cover;
  background-position: center 60px;
  text-align: center;
  background-repeat: no-repeat;

  h1 {
    text-shadow: 4px 4px 6px rgba(0, 0, 0, .25);
    margin: 0;
    color: white;
  }
}
.wrapper {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

//accents
.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.rounded-corners {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.box {
  border: $light-grey solid .5px;
  box-shadow: 0 0 5px $light-grey;
  border-radius: 6px;

  h2 {
    font-size: 2em;
    font-family: $text-font-stack;
    font-weight: 300;
  }

  h3 {
    border-bottom: solid $light-grey 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  >.bg-default {
    background: rgba($light-grey, .35);
  }
}

/*box list*/
.box-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.box-list-item {
  display: flex;
  padding: 0.5em;
  width: 100%;
}
@media all and (min-width: 40em) {
  .box-list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .box-list-item {
    width: 33.33%;
  }
}
.box-list-content {
  display: flex;
  flex-direction: column;
  padding: $spacer-sm;
  width: 100%;

  p {
    flex: 1 0 auto;
  }

  .img-wrap {
    display: flex;
    height: 75px;

    img {
      max-height: 60px;
      max-width: 80%;
    }
  }
}


/*mosonry*/
.masonry {
   animation: fade 2s;
   box-sizing: border-box;
   column-gap: $spacer-sm;
   position: relative;
  column-count: 4;
}
 .masonry * {
   box-sizing: border-box;
}


@media (min-width: 768px) {
   .masonry {
     column-count: 2;
  }
}
 @media (min-width: 992px) {
   .masonry {
     column-count: 4;
  }
}
//  @media (min-width: 1500px) {
//   .masonry {
//     column-count: 4;
//  }
// }

 .panel {
  padding: $spacer-xs 0;
}

 .panel-content {
   overflow: hidden;
   width: 100%;
}
 @media (min-width: 768px) {
   .panel {
     break-inside: avoid;
  }
}

.border-right > * {
  border-right: solid 2px $light-grey;

  &:last-child {
    border-right: none;
  }
}

.cloud {
  background-image: url(../../img/cloud-band.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 14rem;
}

.cloud-after {
  position: relative;

  &:after {
    content: url(../../img/cloud-band.svg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
  }

  div {
    position: relative;
    // z-index: 3;
  }
}

//main content
.main-content {

  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p {
    margin-bottom: 1.75em;

    a:link {

    }
  }

  /* Links: replicate underline that clears descenders */
  a:link {
    color: $link-color;

    &.btn {
      border-bottom: none;
      color: white;
    }
  }

  a:visited  {

  }

  a:link::selection {

  }

  a:link::-moz-selection {

  }

  h1 a:link,
  h2 a:link,
  h3 a:link,
  h4 a:link,
  h4 a:link,
  h6 a:link {
    border: 0;
  }

  ul {
    list-style-type: none;

    >li {
      position: relative;

      &:before {
        font-family: 'Material Icons';
        content: "label";
        color: $mid-grey;
        padding-right: 15px;
        position: absolute;
        left: -30px;
      }
    }

    li:not(:first-child) {
      margin-top: 1rem;
    }

    p {
      margin: .7rem 0;
    }

    ul {
      list-style: none;

      > li {
        &:before {
          font-family: 'Material Icons';
          content: "label";
          font-size: .75em;
          color: lighten($link-color, 25%);
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          float: left;
        }
      }
    }

    > ol {
      font-size: 1em;
      list-style-type: lower-alpha;
    }
  }

  ol {
    padding: 0;
    border: solid thin darken($light-grey, 5%);
    padding: $spacer-md;
    @extend .shadow;

    > li {
      counter-increment: step-counter;
      list-style-type: none;
      border-bottom: solid thin $light-grey;
      position: relative;
      padding: $spacer-xs 0;


      &:before {
        content: counter(step-counter) ":";
        float: left;
        margin: .15em 0;
        padding-right: $spacer-xs;
        color: $mid-grey;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      p {
        margin: 0 0 .7rem 0;
      }

      ol {
        counter-reset: step-counter;
        list-style-type: none;

        li {
          background-color: $light-grey;
          box-shadow: none;

          &:before {
            content: counter(step-counter, lower-alpha);
            background-color: white;
            color: $link-color;
            border: solid thin $light-grey;
          }
        }
      }

      ul {
        padding-left: $spacer-sm;
        list-style-type: none;

        li {
          &:before {
            content: "-";
            color: darken($light-grey, 5%);
            display: inline-block;
            float: left;
            padding-right: .5em;
          }

          ul li:before {
            content: "subdirectory_arrow_right";
            font-family: 'Material Icons';
            font-size: .75em;
            line-height: 1.5em;
          }
        }
      }
    }
  }

  blockquote {
    background: lighten($light-grey, 4%);
    border-bottom-right-radius: 2px;
    border-left: 4px solid $link-color;
    border-top-right-radius: 2px;
    margin: 2em 0;
    padding: $spacer-xs $spacer-sm;
    position: relative;


    strong {
      display: block;
      color: $mid-grey;
      font-style: initial;
      font-family: $text-font-header;
      font-weight: 600;

    }

    p {
      font-size: 1em;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

code {
  background-color: rgba($success, .15);
  padding: 2px 4px;
}

table {
  border-spacing: 0;
  border-top: solid $light-grey 2px;
  border-bottom: solid $light-grey 2px;
  min-width: 100%;
  margin: 0 auto;

  thead {
    color: $dark-grey;

    tr {
      th {
        text-align: left;
        padding: 10px 5px;
      }
    }
  }

  tbody {
    background: $light-grey;

    tr {
      &:nth-child(even) {
        background: lighten($light-grey, 5%);
      }

      td {
        text-align: left;
        padding: 12px 9px;
      }
    }
  }
}

//lists
ul {
  &.checklist {
    list-style-type: none;
    color: $text-color;
    font-weight: 300;
    text-align: left;
    margin: 0;

    li {
      @extend .p-v-xs;
      display: flex;
      align-items: center;

      &:before {
        font-family: 'Material Icons';
        content: "\E876" ;
        color: $accent;
        font-size: 1.5em;
        padding-right: .25em;
      }

      strong {
        color: $accent;
      }
    }
  }
}

//pagination
.pagination {
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0;

  li {
    @extend .btn;
    @extend .bg-default;
    margin: 0 3px;

    &.active {
      @extend .bg-link;
    }
  }
}

// single pages
.detail  {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: $mid-grey;
    font-family: $text-font-header;
    font-weight: light;
  }

//cta
  .cta-banner {
    text-align: center;
    transform: translateY(-40px);
  }
