{{ define "hero" }}
  <div class="wrapper">
    <div class="row center-xs">
      <div class="col-md-8">
        {{ partial "breadcrumbs.html" . }}
        {{ with .Params.title }}
          <h1 class="m-t-0">{{ . }}</h1>
        {{end}}

        {{ with .Params.subTitle }}
          <p class="p-t-sm">{{ . }}</p>
        {{end}}


        {{ if eq .Section "events" }}
            <div class="row middle-xs">
                {{ with .Params.date }}
                  <span class="detail p-h-xs">
                    {{.Format "Monday January 2, 2006"}}

                {{end}}
                {{ with .Params.enddate }}
                  - {{ . | dateFormat "Monday, Jan 2, 2006" }}
                {{end}}
              </span>

              <span class="detail p-h-xs">{{ .Params.time }}</span>

              {{ with .Params.location }}
                <span class="detail p-h-xs">{{ . }}</span>
              {{end}}
            </div>

            <div class="m-t-sm">
              {{ with .Params.link }}
                  <a href="{{ . }}" class="btn bg-accent" target="_blank">Register Here</a>
              {{end}}
            </div>

            {{ else }}

            <div class="row middle-xs">
              {{ if and (.Params.author) (eq .Section "blog") }}
                {{ with index .Site.Data.authors .Params.author }}
                  <div class="row middle-xs p-l-sm p-a-xs">
                    <img src="{{.pic}}" class="circle" alt="{{.name}}" height="35" width="35" />
                    <span class="detail p-l-xs">{{ .name }}</span>
                  </div>
                {{end}}
              {{end}}

              {{ with .Params.date }}
                <div class="detail"><span class="p-h-xs"></span>{{ .Format "January 2, 2006" }}</div>
              {{end}}
            </div>
        {{end}}

      </div>
    </div>
  <hr/>
</div>

{{ end }}

{{ define "main" }}
  <div class="wrapper">
    <div class="row center-xs">
      <article class="main-content col-md-8">


        {{ with .Params.youtubeId }}
          <div style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
            <iframe src="//www.youtube.com/embed/{{.}}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen frameborder="0" title="YouTube Video"></iframe>
          </div>

          {{else}}
            {{ if .Params.image }}
              <img class="feat-img" src="{{ .Params.image }}" alt="{{ .Params.title }}">
            {{end}}
        {{end}}

        {{ .Content }}

        {{ if eq .Section "careers" }}
          <p><a class="btn bg-link" href="mailto:jobs@rancher.com?subject={{ .Title }}">Apply Now</a></p>
        {{end}}

       <!--  {{ if eq .Section "events" }}
          <div>
              {{ with .Params.date }}
                <h3>When:</h3>
                <p>
                  {{.Format "Monday January 2, 2006"}}

              {{end}}
              {{ with .Params.enddate }}
                - {{ . | dateFormat "Monday, Jan 2, 2006" }}
              {{end}}
            </p>

              <br/>
              <p>{{ .Params.time }}</p>


            {{ with .Params.location }}
              <h3>Where:</h3>
              <p>{{ . }}</p>
            {{end}}
          </div>

          {{ with .Params.link }}
              <a href="{{ . }}" class="btn bg-link" target="_blank">Register Here</a>
          {{end}}
        {{end}} -->

        <div class="row middle p-v-sm">
          <span>{{ partial "addthis" . }}</span>
        </div>

        {{ if and (.Params.author) (eq .Section "blog") }}
        <div class="bio p-t-lg">
          {{ with index .Site.Data.authors .Params.author }}
            <div class="row middle-xs m-l-0">
              <img src="{{.pic}}" alt="{{.name}}" height="100" width="100" class="m-r-sm" />
              <div class="byline m-t-0">
                <p class="m-a-0">
                  {{.name}}
                  <br/> {{.title}}
                </p>
                <div class="row middle-xs p-t-xs m-l-0">
                  {{ with .git }}
                    <a href="https://github.com/{{.}}" target="_blank"><img src="/img/icon-github.svg" width="30" class="m-r-sm" alt="github"></a>
                  {{ end }}
                  {{ with .twitter }}
                    <a href="https://twitter.com/{{.}}" target="_blank"><img src="/img/icon-twitter.svg" width="30" alt="twitter"></a>
                  {{ end }}
                </div>
              </div>

            </div>
            <hr/>
            {{ with .bio }}
              <p>{{.}}</p>
            {{end}}
          {{ end }}
        </div>
        {{ end }}

        <!-- cta -->
       <div class="box m-v-lg">
        <div class="row middle-xs">
          <div class="col-md-4 p-a-md">
            <img src="/img/spot/spot-training.svg" alt="training">
          </div>
          <div class="col-md-8 p-a-md">
            <p class="text-md">Get <strong>free training</strong> from an expert through our classes on Kubernetes and Rancher</p>
            <a href="{{ .Site.BaseURL }}/training" class="btn bg-accent">Sign Up Now</a>
          </div>
        </div>
      </div>
      </article>

    </div>
  </div>
{{ end }}
